<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA6OjoALRz/wD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiIgAAAAAAAiIiIAAAAAACIiIiAAAAAAIyIiIgAAAAAjMiIiAAAAAAIzIiAzAAAAACMyAxEwAAAAAiAzERMAAAAAAzMxETAAAAADMzMREAAAAAAzMzEwAAAAAAMzMzAAAAAAADMzAAAAAAAAAAAAAAAAAAAAAADh/wAAwP8AAIB/AACAPwAAgB8AAIAPAADABwAA4AMAAPABAAD4AAAA/AAAAP4AAAD/AAAA/4EAAP/DAAD//wAA" rel="icon" type="image/x-icon" />

    <title>Futr - Makes kittens cry</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
    .foodItemTitle {
      font-size: 1.5rem;
      margin-top: 20px;
    }

    </style>

  </head>

  <body>

    <div class="container">
      <h1>Futr</h1>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2><a href="www.pivnica-union.si/si/">Union</a></h2>
          <p>{{ union|safe }}</p>
        </div>
        <div class="col-md-4">
          <h2><a href="http://pizzerijapiramida.si/malice/">Piramida</a></h2>
          <p>{{ piramida|safe }}</p>
       </div>
        <div class="col-md-4">
          <h2>Links</h2>
          <ul>
            <li><a href="http://www.maharaja.si/dnevna-kosila">Maharaja</a></li>
            <li><a href="https://www.facebook.com/GostilnicaInPivnicaSiska">Pivnica Siska</a></li>
            <li><a href="https://titanpad.com/hc7NXc6bQQ">Predlogi glede Futr</a></li>
          </ul>
        </div>
      </div>

      <hr>

      <footer>
      </footer>
    </div> <!-- /container -->


  </body>
</html>
