<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA6OjoALRz/wD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAiIgAAAAAAAiIiIAAAAAACIiIiAAAAAAIyIiIgAAAAAjMiIiAAAAAAIzIiAzAAAAACMyAxEwAAAAAiAzERMAAAAAAzMxETAAAAADMzMREAAAAAAzMzEwAAAAAAMzMzAAAAAAADMzAAAAAAAAAAAAAAAAAAAAAADh/wAAwP8AAIB/AACAPwAAgB8AAIAPAADABwAA4AMAAPABAAD4AAAA/AAAAP4AAAD/AAAA/4EAAP/DAAD//wAA" rel="icon" type="image/x-icon" />

    <title>Futr - Makes kittens cry</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
    .foodItemTitle {
      font-size: 1.5rem;
      margin-top: 20px;
    }

    </style>

  </head>

  <body>

    <div class="container">
      <h1>Futr</h1>
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2><a href="http://www.pivnica-union.si/si/">Union</a></h2>
          <p>{{ union|safe }}</p>
        </div>
        <div class="col-md-6">
          <h2><a href="http://pizzerijapiramida.si/malice/">Piramida</a></h2>
          <p>{{ piramida|safe }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h2>Locations</h2>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Locations</th>
                <th>List of persons</th>
              </tr>
            </thead>
            <tbody>
              {% for location, list_ in person_locations.items() %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{ location }}</td>
                <td>{{ ', '.join(list_) }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <form method="POST">
            <div class="form-group">
              <label for="name">Your name</label>
              <input class="form-control" id="name" name="name" placeholder="Enter name">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="locationSelect">Select location:</label>
              <select class="form-control" name="locationSelect" id="locationSelect">
                {% for location in locations %}
                <option value="{{location}}">{{ location }}</option>
                {% endfor %}
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Food!!!</button>
          </form>

        </div>
      </div>

      <hr>

      <footer>
      </footer>
    </div> <!-- /container -->


  <script src="//cdn.jsdelivr.net/npm/fingerprintjs2@1.5.1/dist/fingerprint2.min.js"></script>
  <script type="text/javascript">
   document.addEventListener("DOMContentLoaded", function(event) {
    new Fingerprint2().get(function(result, components){
      console.log(result); //a hash, representing your device fingerprint
    });
  });
  </script>
  </body>
</html>
